# ---------- DATABASE CONFIG ----------
MYSQL_ROOT_PASSWORD=p@ssw0rd1
MYSQL_DATABASE=neighbor
MYSQL_USER=msg
MYSQL_PASSWORD=p@ssw0rd2

# ---------- DOCKER CONFIG ----------
MYSQL_PORT=3306
MYSQL_CONTAINER_NAME=mysql

# ---------- BACKEND CONFIG ----------
DATABASE_URL="mysql://msg:p@ssw0rd2@localhost:3306/neighbor"
NEXT_PUBLIC_BASE_URL=http://localhost:3000
